<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

  <test thread-count="5" name="Test1">
    <classes>
      <class name="week6.day1.LearnTestNGAnnotations"/>
      <class name="week6.day1.TestNGTestCase"/>
    </classes>
  </test> <!-- Test -->
  
 
  
</suite> <!-- Suite -->
